<h2 class="page-header">Welcome to your collectr page</h2>
<p>Start by inputting your collection</p> 
<p>Just type the name of the Artist and Album to store your collection</p> 
<br/>
<br/>

<form method="post">
   <div class="form-group">
    <label>Enter the Artist and Album name</label>
    <input id="vinyl" type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <button id="btn_save" type="submit" class="btn btn-default">Submit</button>
</form>

<table id="collect">

</table>
	
<script type="text/javascript">

$(document).ready(function() {
  $('btn_save').on('click', function(){
    var table = $('collect');

    var tdId = '-';
    var tdTitle = $('<input />', {'class' : 'form-control formInput', 'type': 'text'});
    
    newRow(table,[tdId,tdTitle]);
  });
});

function newRow($table,cols){
    $row = $('<tr/>');
    for(i=0; i<cols.length; i++){
        $col = $('<td/>');
        $col.append(cols[i]);
        $row.append($col);
    }
    $table.append($row);
}


</script>